<%
var $year_data = {
    2007: {
        'thumb'  : 'http://attachment.soulteary.com/wp/2012/10/year-2007.jpg',
        'title'  : '二零零七',
        'content': '用sa-blog搭自己的博客，蛮好玩的。'
    },
    2008: {
        'thumb' : 'http://attachment.soulteary.com/wp/2012/10/year-2008.jpg',
        'title' : '二零零八',
        'content' : '高三感觉一晃就过去了，别人在写卷子，我在写代码。'
    },
    2009: {
        'thumb' : 'http://attachment.soulteary.com/wp/2012/10/year-2009.jpg',
        'title' : '二零零九',
        'content' : '男儿负气出东关，学不成名誓不还，帝都，我来了。'
    },
    2010: {
        'thumb' : 'http://attachment.soulteary.com/wp/2012/10/year-2010.jpg',
        'title' : '二零一零',
        'content' : '浑浑噩噩的度过了这一年。'
    },
    2011: {
        'thumb' : 'http://attachment.soulteary.com/wp/2012/10/year-2011.jpg',
        'title' : '二零一一',
        'content' : '或许有的时候，我们都是一只刺猬吧。'
    },
    2012: {
        'thumb' : 'http://attachment.soulteary.com/wp/2012/10/year-2012.jpg',
        'title' : '二零一二',
        'content' : '努力的工作，年初的愿望似乎实现了一部分。'
    },
    2013: {
        'thumb' : 'http://attachment.soulteary.com/wp/2013/01/year-2013.jpg',
        'title' : '二零一三',
        'content' : '事情异常多的一年，学会了许多，思考了许多。'
    },
    2014: {
        'thumb' : 'http://attachment.soulteary.com/wp/2014/01/year-2014.jpg',
        'title' :'二零一四',
        'content' : '从帝都跑到苏杭，感觉自己成长了不少。'
    },
    2015: {
        'thumb' : 'http://attachment.soulteary.com/wp/2015/01/year-2015.jpg',
        'title' : '二零一五',
        'content' : '新的一年，会发生什么呢，很是期待...'
    }
};

    function show(){
%>
<div class="container-fluid main-container" id="J_main-container">
    <div class="row">
        <div class="col-md-12">
            <h1 class="page-title"><%= page.title %></h1>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 post-container">
            <h2 class="post-title">
                <a href="<%= page.permalink %>" rel="bookmark">文章存档</a>
            </h2>
        <!--<div class="post-content row <?=$page_query?"m-archives-detail-view":"m-archives-list-view";?>">-->
        <!--<?php-->
        <!--if ($page_query) {-->
        <!--if (4 == strlen($query_data[0])) {-->
        <!--$year = $query_data[0];-->
        <!--$month = '';-->
        <!--} else {-->
        <!--$year = $query_data[3];-->
        <!--$month = $query_data[4];-->
        <!--}-->
        <!--if ($year < 2007) {-->
        <!--$year = 2007;-->
        <!--}-->
        <!--if ($year > $cur_year) {-->
        <!--$year = $cur_year;-->
        <!--}-->
        <!--$html_tpl = OWL_archives('', $year, $month);-->
        <!--echo "\n". '<div class="col-md-12"><div class="thumbnail m-archives-thumb"><img src="'.$year_data[$year]['thumb'].'" alt="'.$year_data[$year]['title'].'年文章存档"><div class="caption"><h3>'.$year_data[$year]['title'].'年文章存档</h3><p class="m-archives-content">'.$year_data[$year]['content'].'</p><p><a href="/archives" class="btn btn-primary btn-sm">返回列表</a></p></div></div></div>';-->
        <!--echo "\n" . '<div class="col-md-8 m-archives-container">' . $html_tpl['list'] . '</div>';-->
        <!--echo "\n" . '<div class="col-md-4 m-archives-nav-container">' . $html_tpl['menu'] . '</div>';-->
        <!--} else {-->
        <!---->
        <!--for ($i = $cur_year; $i >= 2007; $i&#45;&#45;) {-->
        <!--?>-->
        <!--<div class="<?=($i===$cur_year)?"col-sm-12 col-md-12 m-archives-cur-year":"col-sm-6 col-md-4 m-archives-year"?>">-->
        <!--<div class="thumbnail m-archives-thumb">-->
            <!--<img src="<?=$year_data[$i]['thumb'];?>" alt="<?=$year_data[$i]['title'];?>年文章存档">-->
            <!--<div class="caption">-->
                <!--<h3><?=$year_data[$i]['title'];?>年文章存档</h3>-->
                <!--<p class="m-archives-content"><?=$year_data[$i]['content'];?></p>-->
                <!--<p class="m-archives-btns"><a href="/archives/<?=$i?>/" class="btn btn-primary btn-sm" role="button">翻开存档</a></p>-->
            <!--</div>-->
        <!--</div>-->
    </div>
</div>
<div class="meta-box">
    <a class="btn btn-link g-admin-edit-btn" href="<?=get_edit_post_link();?>">[编辑内容]</a>
</div>
</div>
</div>

<div class="row">
    <div class="col-md-4">
        <!--<?php if (!function_exists('dynamic_sidebar') || !dynamic_sidebar('Sidebar')) : ?><?php endif; ?>-->
    </div>
</div>

<%
    }

%>


"
<%= page.permalink %>
<%= page.path %>
<%= page.current_url %>
<%= page.link %>
<%= page.permalink %>
"



<% if ( is_archiveindex() && page.path === 'archives/index.html' && page.current_url === 'archives/' ){ %>

<% show() %>


<% } else if ( is_archiveindex() && page.path.match(/^archives\/\d{4}\/index\.html$/) && page.current_url.match(/^archives\/\d{4}\/$/) ){ %>

<% show() %>

<% } else { %>

    <%- partial('_partial/archive', {pagination: config.archive, index: true}) %>

<% } %>
