<head>

  <meta charset="utf-8"/>

  <meta name="renderer" content="webkit"/>

  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>

  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <%
  // 全局检查

  %>

  <% // 设置二套域名
  var current_domain_setting = null;
  if (theme.OWL.DOMAIN_SETTING) {
    current_domain_setting = {}//OWL_GET_DOMAIN_SETTING();
  } else {
    current_domain_setting = {
      "domain"    : "",
      "assets"    : "",
      "attachment": ""
    };
  }
  current_domain_setting["theme"] = current_domain_setting['assets'] + '/theme';
  //var current_page_classes = "page-is-loading";
  %>

  <meta name="author" content="<%= theme.OWL.author %>"/>

  <%
  var robots_action = "none";
  if (!is_redirect() && !is_404() && !is_search()) {
    robots_action = "index, follow";
  }
  %>
  <meta name="robots" content="<%= robots_action %>"/>

  <link rel="dns-prefetch" href="//<%= current_domain_setting['assets'] %>" />
  <link rel="dns-prefetch" href="//<%= current_domain_setting['attachment'] %>" />

  <link rel="shortcut icon" href="//<%= current_domain_setting['assets'] %>/favicon.ico?v=<%= theme.OWL.PROJECT_VERSION %>&t=<%= theme.OWL.CSS_TIMESTAMP %>" />

  <% if (theme.OWL.NO_SCRIPT_REDIRECT){ %>
  <noscript><meta http-equiv="refresh" content="0;URL='http://NOSCRIPT'"></noscript>
  <% } %>

  <title<%
    // todo 重新封装
  var title = page.title;

  if (is_archive()){
    title = __('archive_a');

    if (is_month()){
      title += ': ' + page.year + '/' + page.month;
    } else if (is_year()){
      title += ': ' + page.year;
    }
  } else if (is_category()){
    title = __('category') + ': ' + page.category;
  } else if (is_tag()){
    title = __('tag') + ': ' + page.tag;
  }
  %>><% if (title){ %><%= title %> - <% } %><%= config.title %></title>

  <% if( !is_redirect() && !is_404() && !is_search()  ) { %>
    <%- open_graph({twitter_id: theme.twitter, google_plus: theme.google_plus, fb_admins: theme.fb_admins, fb_app_id: theme.fb_app_id}) %>

    <% if (theme.rss){ %>
      <link rel="alternate" href="<%- theme.rss %>" title="<%= config.title %>" type="application/atom+xml">
    <% } %>
  <% } %>


  <% if (false && theme.favicon){ %>
    <link rel="icon" href="<%- theme.favicon %>">
  <% } %>
  <%- css('css/bootstrap.css') %>
  <%- css('css/font-awesome.min.css') %>
  <!--<%- css('css/code.css') %>-->

  <%- css('css/main.css') %>

</head>
